@import "variables";
@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins";

$top-row-badge-color: #fa6f35;
$bottom-row-badge-color: #fba338;
$hr-border-color: #eee;
$background-primary: #fff;
$background-secondary: #F6F3FE;
$refresh-purple: #7759c2;
$refresh-gray: #F2F1F5;
$refresh-gray-dark: #A2A1A6;
$refresh-black: #171321;

body {
  overflow-x: hidden;
}

.secondary-release-column {
  width: 100%;
  padding: 0 80px;

  .secondary-column-feature {
    margin: 60px auto 90px;
    max-width: 800px;

    &:first-child {
      margin-top: 0;
    }

    ul,
    ol {
      margin-bottom: 40px;
    }

    @media all and (max-width: $screen-lg-min) {
      padding: 0 15px;
    }

    @media all and (max-width: $screen-sm-min) {
      margin: 0 auto 45px;
    }
  }

  &:last-child {
    border-left: 1px solid $hr-border-color;

    @media all and (max-width: $screen-lg-min) {
      border-left: 0;
    }
  }

  @media all and (max-width: $screen-lg-min) {
    padding: 0;

    .title-with-stage {
      margin: 0 16px 3.2rem 16px;
    }
  }
}

.column-layout {
  column-count: 2;
  column-width: 50%;
  column-gap: 100px;
  padding: 0 100px;

  .column-item {
    display: inline-block;
    margin: 0 0 1em;
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;

    hr {
      margin-top: 80px;
    }

    @media all and (max-width: $screen-lg-min) {
      margin: auto;
      margin-bottom: 0;
      padding: 0 15px;
    }
  }

  @media all and (max-width: $screen-lg-min) {
    padding: 0;
    column-count: 1;
    column-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@mixin badge($badge-color) {
  border: 1px solid rgba($color-white, .2);
  background-color: transparent;
  color: $color-white-alt;
  display: grid;
  line-height: 22px;
  border-radius: 3px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 4px;
  margin-bottom: 4px;
  letter-spacing: .4px;

  &.available {
    border: 1px solid $badge-color;
    background-color: $badge-color;
    color: $color-white;
  }

  .badge-container.dark & {
    color: $color-gray;
    border-color: $color-gray-medium;
    background-color: $color-white-rad-event;

    &.available {
      color: $color-white;
      background-color: $badge-color;
      border-color: $badge-color;
    }
  }
}

.badge-with-tiers {
  display: flex;
  align-items: center;

  .stage-badge {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;

    svg {
      height: 100%;
      fill: $color-primary;
    }
  }
}

.content {
  overflow-x: hidden;

  hr {
    width: 100%;
    margin: 40px auto;
  }
}

.badge-container {
  margin: 16px 0;
  line-height: 1em;

  a {
    display: inline-block;
    min-width: 80px;
  }
}

.text-center {
  text-align: center;
}

.cta {
  padding-bottom: 70px;
}

.blog {
  .wrapper {
    max-width: none;

    &.body {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.article {
    @media (max-width: $screen-xs) {
      .content {
        font-size: 18px;
      }
    }

    @media (min-width: $screen-sm-min) {
      .features-released {
        font-size: 44px;
      }
    }

    h1 {
      font-weight: 300;
      font-size: 5vh;
      line-height: 1.25;
      max-width: 1100px;
      margin-bottom: 30px;
      overflow-wrap: break-word;

      @media (max-width: $screen-md-max) {
        font-size: 5vh;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 6vw;
      }

      @media (max-width: $screen-xs) {
        font-size: 32px;
        font-weight: 500;
      }
    }

    h2 {
      font-weight: normal;
      line-height: 1.2;
      overflow-wrap: break-word;

      @media (min-width: $screen-sm-min) {
        font-size: 35px;
      }

      a:hover {
        text-decoration: none;
      }
    }

    h3 {
      font-weight: normal;
      line-height: 1.2;
      overflow-wrap: break-word;

      @media (min-width: $screen-sm-min) {
        font-size: 33px;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .overlay {
      background: linear-gradient(to top, rgba($color-white, 1) 15%, transparent 40%);
      height: 100%;
      display: flex;

      @media (max-width: $screen-xs-max) {
        background: linear-gradient(to top, rgba($color-white, 1) 25%, transparent 55%);
      }
    }

    .header {
      color: $color-dark;
      text-align: center;
      align-self: center;
    }

    .dark-header {
      color: $color-white;
    }

    .light-header {
      color: $color-dark;
    }

    .author a,
    .author-twitter i,
    .author-gitlab i {
      color: $color-dark;
    }

    .author-twitter i:hover {
      color: $color-twitter;
    }

    .author.dark-header a,
    .author-twitter.dark-header i,
    .author-gitlab.dark-header i {
      color: $color-white;
    }

    .author.dark-header a:hover {
      color: $color-primary-alt;
    }

    .author-twitter.dark-header i:hover {
      color: $color-twitter;
    }

    .author-gitlab.dark-header i:hover {
      color: $color-secondary;
    }

    .signup {
      max-width: 900px;
    }

    kbd {
      background-color: $color-gray-features;
      border-radius: 4px;
      box-shadow: none;
      font-size: 1em;
      overflow-wrap: break-word;
    }
  }

  .pager {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.release-number {
  color: $color-black;
  font-size: 22vh;
  line-height: 1.2;

  @media (max-width: $screen-xs-max) {
    font-size: 30vw;
  }

  @media (max-width: $screen-xs) {
    font-size: 35vw;
  }

  .release-number-image {
    width: 40vh;
    padding-bottom: 50px;
  }
}

.release-number-dark {
  color: $color-dark;
}

.description {
  display: none;
}

.release-post-section {
  padding: 0 16px;
  margin: 0 auto 90px;

  @media (max-width: $screen-xs) {
    margin: 0 auto 45px;
  }
}

.body .content .release-post-section .subtitle-row h2 p {
  margin: 40px 0 0;
}

.subtitle-row {
  position: relative;

  h2::before {
    display: none;
  }
}

.btn-red {
  margin-bottom: 5px;
}

.header-link {
  padding: 0 12px;
  position: absolute;
  margin-left: -1em;
  margin-top: -.1em;

  i {
    font-size: .5em;
    opacity: 0;
    color: $color-dark;
  }

  &:hover {
    color: $color-primary-alt;
    text-decoration: none;
  }
}

h2,
h3,
.header-link {
  &:hover {
    i {
      opacity: 1;
    }
  }
}

.gray-section {
  background-color: $body-bg;
  border-top: 1px solid $landing-organization-color;
  border-bottom: 1px solid $landing-organization-color;
  padding: 20px 0;
}

// sass-lint:disable no-important
@media (min-width: $screen-lg-min) {
  h2.intro-header {
    font-size: 33px !important;
    margin-top: 20px !important;
  }

  h3.intro-header-h3 {
    font-size: 28px !important;
    margin-top: 20px !important;
  }
}

// sass-lint:enable no-important

.top-feature.release-post-section {
  max-width: 800px;
}

.release-post-section#intro-section,
.release-post-section#tertiary,
.release-post-section#deprecations,
.release-post-section#removals,
.release-post-section#extras {
  max-width: 800px;
}

.mvp {
  text-align: center;
  margin-bottom: 90px;

  .release-post-section {
    margin-bottom: 0;
    max-width: 800px;
  }

  img {
    height: 200px;
    width: auto;
    margin: 0;

    &.mvp-gift {
      height: 400px;
    }
  }

  @media (min-width: $screen-lg-min) {
    h2 {
      width: 150%;
      margin-left: -25%;
    }
  }
}

.top-row,
.bottom-row {
  display: table;
}

.badge-container-type {
  color: $color-gray-dark;
  font-size: 90%;
  padding-bottom: 4px;
}

.feature-gallery .badge-container-type {
  color: #d9ccff;
}

.badge-container .top-row {
  margin-bottom: 4px;
}

.top-row .badge {
  @include badge($top-row-badge-color);
}

.bottom-row .badge {
  @include badge($bottom-row-badge-color);
  margin-bottom: 0;
}

.feature-gallery {
  .badge-container a {
    min-width: unset;
  }

  .bottom-row,
  .top-row {
    display: flex;
    flex-wrap: wrap;
  }

  .badge {
    margin-bottom: 4px;
    width: 72px;
    display: block;
  }
}

.release-row {
  @include make-row();
  max-width: 1300px;
  margin: 0 auto 90px;

  @media (max-width: $screen-xs) {
    margin: 0 auto 45px;
  }

  @media (min-width: $screen-lg-min) {
    display: flex;
    max-width: 1600px;
  }

  .column {
    @include make-lg-column(6);
    padding: 0 45px;
    align-self: center;
    max-width: 800px;

    @media (max-width: $screen-md-max) {
      padding: 0;
      margin: auto;
    }
  }

  @media (min-width: $screen-lg-min) {
    &.divider .column {
      margin-top: 50px;
      font-size: 18px;

      h3:first-child {
        margin-top: 0;
      }
    }

    &.divider .column:nth-child(1) {
      padding-right: 90px;
    }

    &.divider .column:nth-child(2n+2) {
      border-left: 1px solid $hr-border;
      padding-left: 90px;
    }
  }

  &.image-left {
    .image-column {
      @include make-lg-column-pull(6);
    }

    .text-column {
      @include make-lg-column-push(6);
    }
  }

  &.align-top .column {
    align-self: flex-start;
  }
}

.reference-buttons {
  .btn-default {
    border-color: $color-gray-extra-light;
    color: $text-color-light;
    margin-bottom: 3px;

    &:hover {
      transition: all .15s ease;
    }
  }
}

.ref-buttons-second-features {
  margin-top: 10px;
  margin-bottom: 20px;

  .btn-xs {
    font-size: 14px;
  }
}

.ref-buttons-tertiary-features {
  margin-top: 26px;
  margin-bottom: 20px;

  .btn-xs {
    font-size: 14px;
  }
}

.product-icon {
  display: inline-flex;
  align-self: center;

  svg {
    height: 1em;
    width: 1em;
    fill: $text-color-light;
    fill-rule: nonzero;
    margin-top: 4px;
    margin-right: 5px;
  }
}

.product-icon-xm {
  display: inline-flex;
  align-self: center;

  svg {
    height: 1em;
    width: 1em;
    fill: $text-color-light;
    fill-rule: nonzero;
    margin-top: 3px;
    margin-right: 3px;
  }
}

.zero-bottom-margin {
  margin-bottom: 0;
}

.changelog {
  margin: 70px 0;
}

.release-post-refresh {
  &.blog.article {
    .cover {
      min-height: 74.2vw;
      display: none;

      @media (min-width: 750px) {
        min-height: 400px;
        display: block;
      }
    }

    .release-meta-info {
      padding: 4.8rem 0 2.4rem 0px;
      font-weight: 400;
      font-size: 1.4rem;

      // sass-lint:disable no-important  
      .date,
      .author,
      .author a,
      .dark-header a {
        font-weight: inherit;
        font-size: inherit;
        color: $color-charcoal !important;
      }

      .author-gitlab i,
      .author-gitlab.dark-header i {
        color: $color-charcoal;
      }
    }

    .release-header {
      h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 52px;

        @media (min-width: 750px) {

          font-size: 68px;
          line-height: 80px;
        }
      }

      h2 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;

        @media (min-width: 750px) {

          font-size: 45px;
          line-height: 56px;
        }
      }

      .release-post-section {
        margin-bottom: 16px;

        @media (min-width: 750px) {
          margin-bottom: 32px;
        }
      }
    }

    .gitlab-trial {
      display: flex;
      background-color: transparent;
      width: 100%;
      max-width: 1100px;
      margin-top: 80px;
      overflow: hidden;

      h2 {
        font-size: 50px !important;
        font-family: "Inter", sans-serif;
        line-height: 60px;
        font-weight: 600;
        letter-spacing: -2px;
      }

      p {
        font-size: 32px !important;
        font-family: "Inter", sans-serif;
        line-height: 40px;
        font-weight: 400;
        letter-spacing: -2px;
        margin: 16px 0 24px;
      }

      a.btn {
        background: $refresh-black;
        border: 1px solid $refresh-black !important;
        color: #fff;
        font-family: "Inter", sans-serif;
        transition: all 0.2s ease;

        &:hover,
        &:focus {
          background: #fff !important;
          color: $refresh-black !important;
        }
      }

      &__left-side {
        width: 55%;
        padding-right: 120px;
      }

      .animateLeft {
        animation: animationLeft 1s ease 0s 1 normal forwards;
      }

      &__right-side {
        width: 45%;
        padding-left: 120px;
        border-left: 1px solid #E8E7EB;

        .sales-cta {
          font-size: 18px;
          font-weight: 600;
          line-height: 20px;
          position: relative;
          color: $refresh-black;
          font-family: "Inter", sans-serif;

          &:after {
            content: "";
            display: block;
            position: absolute;
            right: -24px;
            top: 2px;
            width: 16px;
            height: 16px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjIxOTY3IDIuMjE5MzZDNS41MTI1NiAxLjkyNjQ3IDUuOTg3NDQgMS45MjY0NyA2LjI4MDMzIDIuMjE5MzZMMTEuNTMyMiA3LjQ3MTJDMTEuODI1MSA3Ljc2NDA5IDExLjgyNTEgOC4yMzg5NiAxMS41MzIyIDguNTMxODZMNi4yODAzMyAxMy43ODM3QzUuOTg3NDQgMTQuMDc2NiA1LjUxMjU2IDE0LjA3NjYgNS4yMTk2NyAxMy43ODM3QzQuOTI2NzggMTMuNDkwOCA0LjkyNjc4IDEzLjAxNTkgNS4yMTk2NyAxMi43MjNMOS45NDExNyA4LjAwMTUzTDUuMjE5NjcgMy4yODAwMkM0LjkyNjc4IDIuOTg3MTMgNC45MjY3OCAyLjUxMjI2IDUuMjE5NjcgMi4yMTkzNloiIGZpbGw9IiMxNzEzMjEiLz4KPC9zdmc+Cg==");        
            transition: all 0.3s;
          }

          &:hover {
            &:after {
              right: -30px;
            }
          }
        }
      }

      .cta-btn{
        padding: 12px 16px;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
      }

      @media only screen and (max-width : 768px) {
        padding: 35px 0 45px;

        h3 {
          font-size: 32px;
          line-height: 1;
          padding: 0 25px;
        }
      }
    }
  }

  .overlay-dark {
    margin-top: auto;
    background: transparent;
  }

  #intro {
    font-size: 24px;
  }

  // sass-lint:disable no-important
  #key-features-released {
    font-size: 48px;
    line-height: 1.3;
    padding-top: 64px;
    letter-spacing: -1.4px;

    @media (min-width: $screen-sm-min) {
      font-size: 56px !important;
      padding-top: 96px;
    }

    &:before {
      content: "";
      height: 4px;
      width: 95px;
      margin-top: 0;
      visibility: visible;
      margin-bottom: 16px;
      background-image: url(/images/release/gradient-line.png);
      background-position: left;
    }
  }

  .content {
    font-size: 20px !important;
    line-height: 1.2;
  }

  h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600 !important;
    font-size: 36px;

    a {
      font-family: inherit;
      font-weight: inherit;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 40px !important;
    }
  }

  .release-post-section,
  .release-post-section#intro-section,
  .release-post-section#tertiary,
  .release-post-section#deprecations,
  .release-post-section#removals,
  .release-post-section#extras {
    max-width: 1110px;
    padding: 0 32px;
  }

  .top-feature {
    text-align: left;
    margin: 0 auto;
    padding-bottom: 90px;
    position: relative;

    >* {
      z-index: 100;
      position: relative;
    }



    .release-post-section {
      padding: 0;

      &:first-of-type {
        margin-bottom: 40px;
      }
    }

  }

  .mvp {
    text-align: left;
    background: $background-primary;
    border: 0;

    #mvp {
      margin: 0 auto;
    }

    h2 {
      width: 100%;
    }
  }

  .reference-buttons .btn-default {
    color: $refresh-purple;
    font-size: 14px;
    border-color: $refresh-gray-dark;
    font-weight: 400;
    padding: 4px 12px 4px 8px;
    border-radius: 90px;
    font-family: "Inter", "sans-serif";

    svg {
      fill: $refresh-black;
    }
  }

  .twitter-block-link {
    font-size: 23px;
    display: flex;
    align-items: center;
    padding: 32px 24px;

    .twitter-text {
      width: 85%;
      line-height: 1.7;
      margin-bottom: 0;
    }

    .click-to-tweet {
      position: relative;
      left: 0;
      bottom: 0;
      flex: 1 1 15%;
      text-align: right;
    }
  }

  .refresh-h2 {
    font-size: 48px;
    line-height: 1.3;
    font-family: "Inter", sans-serif;
    font-weight: 600 !important;
    text-align: left;
    margin-top: 100px;
    letter-spacing: -1.2px;

    @media (min-width: $screen-sm-min) {
      font-size: 56px !important;
      margin-top: 120px;
    }

    &:before {
      content: "";
      height: 4px;
      width: 95px;
      margin-top: 0;
      visibility: visible;
      margin-bottom: 16px;
      background-image: url(/images/release/gradient-line.png);
      background-position: left;
    }
  }

  .refresh-h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600 !important;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -1px;

    &:before {
      display: none;
    }

    a {
      font-family: inherit;
      font-weight: inherit;
    }

    @media (min-width: $screen-sm-min) {
      font-size: 40px !important;
    }

    &.refresh-h3--secondary {
      padding-bottom: 32px;
      border-bottom: 1px solid $refresh-gray-dark;
      margin-bottom: 24px;
    }
  }

  #secondary-features {
    .secondary-release-column {
      max-width: 100%;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      .secondary-column-feature {
        max-width: 100%;

        h3::before {
          display: none;
        }
      }
    }

    .release-post-section {
      padding: 0;
    }
  }

  .refresh-h4 {
    font-family: "Inter", sans-serif;
    line-height: 1.2;
    font-weight: 600 !important;
    font-size: 28px;
    letter-spacing: -0.8px;

    @media (min-width: $screen-sm-min) {
      font-size: 32px !important;
    }

    p {
      margin-bottom: 0 !important;
    }
  }

  .badge-container.dark .top-row .badge.available,
  .badge-container.dark .bottom-row .badge.available {
    color: #fff;
    background-color: $refresh-purple;
    border-color: $refresh-purple;

    svg {
      width: 16px;
      padding-right: 4px;
    }
  }

  .badge-container.dark .top-row .badge,
  .badge-container.dark .bottom-row .badge {
    background-color: $refresh-gray;
    border: 1px solid $refresh-gray-dark;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 90px;
    text-transform: capitalize;
    color: $refresh-black;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg {
      margin-right: 4px;
      height: 16px;
    }
  }

  .badge-with-tiers {
    a {
      text-decoration: none;

      &:hover {
        .badge {
          text-decoration: underline;
        }
      }
    }
  }

  .pager li>a,
  .pager li>span {
    border: 0;
    font-size: 18px;
    color: $refresh-black !important;
    font-weight: 600;

    &:hover {
      background-color: transparent;

      .adjacent_post_title {
        text-decoration: underline;
      }
    }
  }

  .pager li {
    max-width: 50%;
  }

  .signup {
    background-color: $refresh-gray;
    position: relative;
    max-width: 1110px !important;

    &::before {
      content: "";
      background-color: $refresh-gray;
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    >* {
      z-index: 100;
      position: relative;
    }

    .newsletter-preamble {
      font-family: "Inter", sans-serif;
      font-weight: 600 !important;
      font-size: 36px;
      line-height: 1.2;

      @media (min-width: $screen-sm-min) {
        font-size: 40px !important;
      }
    }

    .mktoForm {
      max-width: 100% !important;
      width: 100% !important;
      margin-left: 0;

      @media (min-width: $screen-md) {
        max-width: 85% !important;
      }
    }

    .mktoButton {
      background-color: #171321;
      color: #fff;
      border: 1px solid #171321 !important;
      box-sizing: border-box;
      font-family: Inter, "sans-serif";
      min-width: 68px;
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
      padding: 11px 16px;
      text-decoration: none;
      border-radius: 4px;
      font-weight: 600;
      font-size: 18px;
      line-height: 20px;
      transition: background-color 0.3s cubic-bezier(0.7, 0, 0.3, 1);
      width: 100%;
      text-align: center;
      justify-content: center;

      &:hover {
        background-color: #fff !important;
        color: #171321 !important;
      }
    }

    .mktoFormRow {
      &:first-of-type {
        width: 100%;
        margin-top: 0 !important;
      }
    }

    .mktoButtonRow {
      width: 100% !important;

      @media (min-width: $screen-sm) {
        width: 45% !important;
        margin-top: 15px !important;
        margin-bottom: auto !important;
      }
    }

    .newsletter {
      justify-content: center;
    }

    .newsletter .newsletter-form {
      width: 100%;
      text-align: left;

      .mktoForm {
        display: initial;
      }

      @media (min-width: $screen-md) {
        width: 65%;
        ;
      }
    }
  }

  .stage-badge {
    height: 24px;
    color: $refresh-black !important;

    svg {
      fill: currentColor;
    }

  }

  // sass-lint:enable no-important
  .refresh-plans {
    font-size: 20px;
  }

  #about-gitlab {
    background-color: $background-primary;
    border: 0;
  }

  .refresh-purple-background {
    background-color: $background-secondary;
    position: relative;
    padding-top: 1px;
    padding-bottom: 90px;
    margin-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $background-secondary;
    }

    .release-row {
      margin-bottom: 0;
      padding-bottom: 30px;

      .column {
        max-width: 100%;
      }

      &:not(.image-left) .column:first-of-type {
        padding-left: 0;
      }

      &:not(.image-left) .column:last-of-type {
        padding-right: 0;
      }

      &.image-left {
        .column:first-of-type {
          padding-right: 0;
        }

        .column:last-of-type {
          padding-left: 0;
        }
      }
    }
  }

  .secondary-release-column:last-child {
    border-left: 0;
  }

  .refresh-gradient {
    position: relative;
    display: flex;
    justify-content: center;

    >* {
      z-index: 100;
      position: relative;
    }

    &::before {
      content: "";
      background: radial-gradient(50.08% 44.51% at 100% 100%, rgba(169, 137, 245, .2) 0, rgba(119, 89, 194, 0) 100%), radial-gradient(60.76% 48.01% at 0 100%, rgba(226, 67, 41, .2) 0, rgba(226, 67, 41, 0) 100%), #fff;
      position: absolute;
      width: 100vw;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .callout.gitlab-trial {
    background-color: transparent;
  }

  .footer {
    margin-top: 0;
  }
}
